$color1: #3ccf80;

#footer {
  @extend .wireframe-100;
  height: 3vh;
}

.container {
  padding: 0;
  margin: 0;
}

#schedule {
  @extend .wireframe-100;
  height: 200vh;
}
#get-started {
  @extend .wireframe-100;
  height: 20vh;
}
#attendee-faq {
  @extend .wireframe-100;
  height: 100vh;
}
#notable-startups {
  @extend .wireframe-100;
  height: 50vh;
}
#startup-weekend {
  @extend .wireframe-100;
  height: 70vh;
}
#current-location {
  @extend .wireframe-100;
  height: 20vh;
}
#partners {
  @extend .wireframe-100;
  height: 25vh;
}
#contact-us {
  @extend .wireframe-100;
  height: 23vh;
}
#techstars {
  @extend .wireframe-100;
  height: 17vh;
}
